@inherits ComponentBase
@implements IDisposable
@inject IJSRuntime JS

<div id="@Id"
     @onkeyup="TriggerAceInstance"
     @onpaste="TriggerAceInstance"
     @onclick="TriggerAceInstance"
     style="@Style">
    @Value
</div>

@code {
    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public string Style { get; set; } = "width:100%; height:100%; font-size:14px; border:1px solid black;";

    [Parameter]
    public string Theme { get; set; } = "one_dark";

    [Parameter]
    public string? Language { get; set; } = null;

    [Parameter]
    public bool IsReadonly { get; set; } = false;

    public string Id { get; set; } = "aceeditor_" + Guid.NewGuid().ToString("N");

    private DotNetObjectReference<AceEditor> _objRef = default!;

    [JSInvokable]
    public async Task ReceiveCode(string code)
    {
        Value = code;
        await ValueChanged.InvokeAsync(Value);
    }

    public async Task SetText(string code)
    {
        _objRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("SetCode", _objRef, Id, code);
    }

    public async Task SetLanguage(string? language)
    {
        Language = language;
        await JS.InvokeVoidAsync("editorRender", Id, Language, Theme, IsReadonly);
    }

    public async Task SetWidth(int width)
    {
        await JS.InvokeVoidAsync("SetWidth", Id, width);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("editorRender", Id, Language, Theme, IsReadonly);
    }

    protected async Task TriggerAceInstance()
    {
        _objRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("GetCode", _objRef, Id);
    }

    public void Dispose()
    {
        _objRef?.Dispose();
    }
}
